* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg-color: rgb(93,155,212);
    --header-bg-color: rgb(255, 255, 255);
    --content-bg-color: rgb(208, 208, 226);
    --sidebar-font: 'Roboto', sans-serif;
    --sidebar-font-color: rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-row: 1 / 3;
    font-family: var(--sidebar-font);
    color: var(--sidebar-font-color);
}

.header {
    background-color: var(--header-bg-color);
}

.content-board {
    background-color: var(--content-bg-color);
}

